<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/indexStyles.css">
    <title>Document</title>
</head>
<body>
    <div class="container-xl">
        <div class="row">
            <div class="col-12">
                <header class="row estiloHeader">
                        <div class="col-2">
                            LOGO
                        </div>
                        <div class="col-8 posicionNav">
                            <nav class="nav">
                                <a class="nav-link active" href="#">HOME</a>
                                <a class="nav-link" href="#">CARACTERISTICAS</a>
                                <a class="nav-link" href="#">APLICACIONES</a>
                                <button type="button" class="btn btn-info">ACCEDER</button>
                            </nav>   
                        </div> 
                </header>
            </div>
        </div>
    </div>
</body>
</html>