.containerModuloCuenta{
    border-radius: 1px;
    border-style: solid;
    border-color: black;
}

.tituloH2 {
    text-align: center;
}

.botonAceptar {
    margin-left: 40%;
    margin-right: 40%;
}


