.login{
    background-color: #1B1464;
}
.logo{
    width: 30%;
    border-radius: 0%;
}

.contenedor__logo{
    text-align: center;
}

.titulo{
    text-align: center;
    color: whitesmoke;
}
.loginLabel{
    width: 99%;
    text-align: center;
    color: whitesmoke;
}
.btn-login{
    text-align: center;
}